{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Статистика по вашему жесткому диску</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Перейдя по кнопкам, на это странице вы можете посмотреть статистику по жестокому диску своего компьютера.</p>
        <p class="fs-5 mb-4">Ваша база была индексирована: {{ indexing_base }}.</p>
        <p class="fs-5 mb-4">В вашей базе данных: {{ num_files }} файлов.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="/top_10_files">Топ-10 файлов</a>
          <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="/extensions">Статистика по расширениям</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
