{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Статистика по расширениям</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Имя файла</th>
            <th scope="col">Вес файла</th>
        </tr>
        </thead>
        <tbody>
        {% for i in top_10_files %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ top_10_files[i] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="/">Главная страница</a>
        </div>
</div>
{% endblock %}
